
.nav a {
    color: rgba(14, 131, 177, 0.84);
    font-size: 23px;
    font-weight: bold;
    padding: 8px 6px;
    text-transform: uppercase;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.429;
    color: #514E4E;
}
