
    body {
    
      margin: 0;
      text-align: center;
      background-color: #212121;
      color: #FF5252;
      font-family: 'Playfair Display SC', serif;
      background-image: url(https://static.pexels.com/photos/6621/pexels-photo.jpeg);
      background-size: cover;
    }
    h1 {
      color: #F24B82;
      font-family: 'Josefin Slab', serif;
      font-size: 3em;
    }
    
    h2 {
      color: #727272;
      font-family: 'Josefin Slab', serif;
    }
      p {
      color: #727272;
      font-family: 'Josefin Slab', serif;
    }
    
    nav {
       position: fixed;
    top: 20px;
    right: 20px; 
        
    }

nav a{
    
    color: #FFF;
    text-decoration: none;
    background-color: #98948F;
    border-radius: 2px;
    padding: 5px;
}

nav a:visited{
    color: #FFF;
}
section {
    background-color: red;
    height: 250px;
    width: 100%;
}
section a{
    color: #FFF;
    border: 1px solid #FFF;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
}
