
    body {
      background-color: #212121;
      color: #FF5252;
      font-family: 'Playfair Display SC', serif;
      background-image: url(https://static.pexels.com/photos/6621/pexels-photo.jpeg);
      background-size: cover;
    }
    h1 {
      color: #E8344F;
      font-family: 'Josefin Slab', serif;
    }
    
    h2 {
      color: #727272;
      font-family: 'Josefin Slab', serif;
    }
      p {
      color: #727272;
      font-family: 'Josefin Slab', serif;
    }
