
    body {
        text-align: center;
      background-color: #212121;
      color: #FF5252;
      font-family: 'Playfair Display SC', serif;
      background-image: url(https://static.pexels.com/photos/6621/pexels-photo.jpeg);
      background-size: cover;
    }
    h1 {
      color: #E8344F;
      font-family: 'Josefin Slab', serif;
      font-size: 3em;
    }
    
    h2 {
      color: #727272;
      font-family: 'Josefin Slab', serif;
    }
      p {
      color: #727272;
      font-family: 'Josefin Slab', serif;
    }

nav a{
    color: #FFF;
    text-decoration: none;
    background-color: #98948F;
    border-radius: 2px;
    padding: 5px;
}

nav a:visited{
    color: #FFF;
}
